::-moz-selection {
	/* Code for Firefox */
	color: #08090B;
	;
	background: #E0AF08
}

::selection {
	color: #08090B;
	;
	background: #E0AF08;
}

html {
	scroll-behavior: smooth;
}

html, body {
/*    max-width: 100%;*/
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	width: 200vw;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	font-family: Kavoon;
	background: #10141C;
}

#main-pane {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	height: fit-content;
	background: #10141C;
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	align-items: center;
	justify-content: top;
	gap: 12vh;
	padding-bottom: 20vh;
	/*	flex-wrap: wrap*/
	/*  	justify-items: center;*/
}

#external-links {
	position: absolute;
	top: 0;
	right: 0;
	width: 6vh;
	height: fit-content;
	margin: 1vw;
	color: #D29A02;
	;
}

.prevent-select {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

/*#top-bar {
	position: absolute; 
	top: 0;
	left: 0; 
	width: 100vw; 
	height: 10vh; 
	background: #E0AF08; 
	box-shadow: 2px 2px 4px #090909;
}
*/
.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	height: 60vh
}

#main-container {
	/*	background: green;*/
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	gap: 5vw;
	margin-bottom: 4vw;
	max-width: 70vw;
}

#waffle-image {
	height: 30vh;
}

#main-title-container {
	/*	background: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	gap: 3vh;
	width: fit-content;
}

.main-title {
	/*	background: blue;*/
	width: fit-content;
	color: #D29A02;
	text-shadow: 4px 4px 4px #090909;
	/*	font-family: Arimo;*/
}

#main-title {
	width: fit-content;
	font-size: 80px;
	text-decoration: underline;
}

#main-subtitle {
	width: fit-content;
	font-size: 30px;
	font-family: monospace;
	color: darkgray;
	min-height: 10vh;
}

#subtitle-fill {
	width: fit-content;
	font-size: 30px;
	font-family: monospace;
	visibility: hidden;
	height: 1px;
}

.main-menu {
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;

}

.main-menu-item {
	/*	background: red;*/
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #D29A02;
	/*	background: blue;*/
	font-size: 25px;
	display: flex;
	cursor: pointer;
	width: fit-content;
}

.code-sample {
	display: flex;
	margin: 4vh;
	gap: 2vw;
	transition: all .3s ease-in-out;
	/*	background: red;*/
}

.code-text {
	/*	padding: 3vh;*/
	display: flex;
	flex-direction: column;
	/*    justify-content: space-evenly;*/
	justify-content: start;
	gap: 3vh;
	padding: 3vh;
}

.code-title {
	font-size: 22px;
	color: #D29A02;
	text-shadow: 4px 4px 4px #090909;
}

.code-description {
	font-size: 15px;
	color: darkgray;
	text-shadow: 4px 4px 4px #090909;
	font-family: monospace;
}

.code-block {
	position: relative;
	display: block;
	word-break: none;
	padding: 4vh;
	font-family: monospace;
	font-size: 15px;
	color: wheat;
	background: #08090B;
	box-shadow: 5px 5px 4px #0f0f0f;
	border-radius: 20px;
	width: fit-content;
	vertical-align: middle;
}

.code-sample:hover {
	transform: scale(1.05);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

svg,
a {
	color: #D29A02;
}

.code-keyword {
	color: mediumpurple;
}

.code-string {
	color: lightgreen;
}

.code-function {
	color: #D29A02;
}

.code-var {
	color: lightcoral;
}

.copy-code {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid grey;
	color: solid grey;
	border-radius: 7px;
	padding: 5px;
	margin: 10px;
	visibility: hidden
}

.code-block:hover .copy-code {
	visibility: visible;
}

.code-hint {
	border: 3px solid #D29A02;
	padding: 1vw;
	border-radius: 5px;
	box-shadow: 5px 5px 4px #0f0f0f;
	background: #0f0f0f;
	transition: all .3s ease-in-out;
	color: whitesmoke;
}

.code-hint:hover {
	transform: scale(1.05);
}